*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{ 
    color: rebeccapurple;
    font-size: 40px;
    text-align: center;
}
#card-number{
    border: 2px solid rebeccapurple;
    height: 3rem;
    width: 66%;
    font-size: 20px;
    margin: 20px 5%;
    text-align: center;
}
#exp-date{ 
    border: 2px solid rebeccapurple;
    height: 3rem;
    width: 40%;
    font-size: 20px;
    margin: 20px 5%;
    display: inline-block; 
    text-align: center;
}
#cvv{ 
    border: 2px solid rebeccapurple;
    height: 3rem;
    width: 20%;
    font-size: 20px;
    margin: 20px 1%;
    display: inline-block;
    text-align: center;
}

#pswrd,#otp{ 
    border: 2px solid rebeccapurple;
    height: 3rem;
    width: 31%;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 5%;
    display: inline-block;
    text-align: center;
}

button{ 
    height: 80px;
    width: 15%;
    background-color: rebeccapurple;
    color: #fff;
    border: 1px solid black;
    border-radius: 11px;
    margin-top: 40PX;
    font-size: 30PX;
}
@media only screen and (max-width:700px){
    button{
        font-size: 15px;
        max-height: 50px;
    }
    #cdno{ 
        margin: 20px 15%;
    }
    #expdt{
        margin-left: 15%;
    }
    #cvv{ 
        margin-left:0%;
    }
    #pswrd{ 
      margin-left:3%;  
    }
    #otp{
        margin-left: 15%;
    }

}