*{ 
    margin:0;
    padding:0; 
    box-sizing: border-box;
}
h4{
    color: rebeccapurple;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: xx-large;
}
div.con{ 
    min-width:100% ;
}
.card1,.card2{
    width: 29%;
    height:14rem;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    position: relative;
    box-shadow: 7px 7px 10px 0 rgb(32, 31, 31);
    transition-duration:1s;
}
.no{ 
    position: absolute;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    top: 50%;
    left: 20px;
}
.bank{
    position: absolute;
    color: #fff;
    font-size: 40px;
    top: 5px;
    left: 10px;
}
.name{ 
    position: absolute;
    color: #fff;
    top: 30%;
    left: 5%;
}
.expdt{
    position: absolute;
    color: #fff;
    bottom: 7%;
    left: 40%;
}
.card1:hover,.card2:hover{
    transform: scale(1.1);
    transition-duration:1s;
}
.card1{ 
    background-color: blue;
    margin: 10px 5% 0 15%;
}
.card2{ 
    background-color: rgba(14, 161, 161, 0.932);
    margin: 10px 10% 0 5%;
}
.addcard{ 
    color: white;
    background-color: rebeccapurple;
    height: fit-content;
    width: 10%;
    font-size: 15px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 11px;
    text-decoration: none;
    position: relative;
   
}
.chip{ 
    position: absolute;
    top: 40%;
    right:5%;
    background-color: gold;
    height: 50px;
    width: 50px;
    border-radius: 11%;
}
.addcard>a>span{ 
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
}
a{
    text-decoration: none;
}